.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
body {
    font-family: 'Roboto', sans-serif;
}
p {
    font-weight: 700;
}
.my-photo{
    width: 150px;
}
.about-me{
    background-color: #d5bea6;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 58px;
    margin: 40px;
}
.projects, .contacts{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
}
.contacts {
    background-color: blanchedalmond;
}
.redline {
    background-color: red;
    width: 400px;
    font-size: 22px;
    position: relative;
    padding: 50px;
    font-weight: 100;
}
.main-info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 497px;
    margin-bottom: 40px;
}
.laptop {
    width: 620px;
    position: absolute;
}
.carousel {
    position: relative;
    top: 21px;
    left: 77px;
    width: 468px;
    height: 406px;
}
.projects-name{
    color: rgb(207, 26, 26);
    font-size:70px;
    position: relative;
    padding: 40px;
}
.contacts-name{
    left: -45px;
}
.laptop-carousel {
    width: 600px;
}
.carousel-caption{
    bottom: -0.75rem; 
    color: #000;
    position: relative;
    z-index: 99;
    left: 0%;
    font-size: 20px;
    font-weight: 500;
}
.carousel-control-prev-icon, .carousel-control-next-icon{
    background-color: black;  
}
.points{
    cursor: pointer;
}
.points:hover{
    font-weight: 800;
}
.carousel-indicators{
    margin-bottom: 13rem;
}

@media (max-width: 1100px)  {
    .projects, .contacts{
        position: relative;
        display: flex;
        flex-direction: column;
}
}

@media (max-width: 670px)  {
    .carousel {
        width: 379px;
}
.laptop {
    width: 519px;
    position: absolute;
}
.laptop-carousel {
    width: 556px;
}
}
@media (max-width: 566px)  {
    .carousel {
            top: 17px;
            left: 63px;
            width: 343px;
            height: 372px;
}
.laptop {
    width: 468px;
}
.laptop-carousel {
    width: 463px;
}
}
